<div class="d-flex justify-content-center align-items-center mt-4">
  <div *ngIf="pokemon">
    <div
      class="card bg-image border border-3 border-secondary"
      style="
        width: 21rem;

        background-image: url('https://w.wallha.com/ws/14/ogOdyeuZ.png');
      "
    >
      <div class="card-header">
        <ul
          class="nav nav-tabs bg-gradient bg-dark border border-2 rounded border-primary card-header-tabs"
        >
          <li class="nav-item">
            <!--Cambia valor de la variable currentTab cl hacer clic en pestañas-->
            <a
              class="nav-link fw-bold text-primary"
              [class.active]="currentTab === 'tab1'"
              (click)="showTab('tab1')"
              >Datos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-bold text-primary"
              [class.active]="currentTab === 'tab2'"
              (click)="showTab('tab2')"
            >
              Tipo</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-bold text-primary"
              [class.active]="currentTab === 'tab3'"
              (click)="showTab('tab3')"
              >Ataques</a
            >
          </li>
        </ul>
      </div>
      <img
        class="card-img-top img-rounded border border-5 rounded-circle mx-auto text-center mt-1 mb-1 w-75 p-3 bg-white"
        [src]="pokemon.sprites.front_default"
        alt="..."
        ng
      />
      <!--Dependiendo del valor de currentTab, usando ngIf mostramos un contenido u otro-->
      <div *ngIf="currentTab === 'tab1'">
        <!--CONTENIDO TAB1-->
        <div class="card-body bg-primary bg-gradient mx-1 border rounded-3">
          <h5 class="card-title">{{ pokemon.name | titlecase }}</h5>

          <p class="card-text">ID: {{ pokemon.id }}</p>
        </div>

        <ul
          class="list-group list-group-flush m-1 border border-white bg-black"
        >
          <li class="list-group-item bg-warning bg-gradient text-bold">
            <strong>Altura:</strong> {{ pokemon.height | decimeterToMeters }}
          </li>
          <li class="list-group-item bg-warning bg-gradient">
            <strong>Peso:</strong> {{ pokemon.weight | hectogramToKilogram }}
          </li>
        </ul>
        <div class="card-body text-white fst-light fs-6 text-end lh-1">
          PoCHedex by SPL
        </div>
      </div>
      <div *ngIf="currentTab === 'tab2'">
        <!--CONTENIDO TAB2-->
        <div class="card-body mx-1 bg-primary bg-gradient border rounded-3">
          <h5 class="card-title">{{ pokemon.name | titlecase }}</h5>

          <p class="card-text">ID: {{ pokemon.id }}</p>
        </div>

        <ul
          class="list-group mt-1 list-group-flush m-1 border border-white bg-black"
        >
          <li
            class="list-group-item bg-warning bg-gradient text-bold"
            *ngFor="let type of types"
          >
            <strong>Tipo:</strong> {{ type.type.name | titlecase }}
          </li>
        </ul>
        <div class="card-body text-white fst-light fs-6 text-end lh-1">
          PoCHedex by SPL
        </div>
      </div>
      <div *ngIf="currentTab === 'tab3'">
        <div class="card-body bg-primary bg-gradient mx-1 border rounded-3">
          <h5 class="card-title">{{ pokemon.name | titlecase }}</h5>

          <p class="card-text">ID: {{ pokemon.id }}</p>
        </div>

        <ul
          class="list-group m-1 border border-white list-group-flush bg-black"
        >
          <li
            class="list-group-item bg-warning bg-gradient text-bold"
            *ngFor="let move of moves"
          >
            <strong>Ataque:</strong>

            {{ move.ability.name | titlecase }}
          </li>
        </ul>
        <div class="card-body text-white fst-light fs-6 text-end lh-1">
          PoCHedex by SPL
        </div>
      </div>
    </div>
  </div>
</div>
<!--COMPONENTE HIJO-->
<!--Se enlaza el método del hijo (propagarId) al pulsar el botón, ejecuta getNewPoke en el padre 
pasándole el valor del edittext mediante un evento-->
<app-form-pokedex (propagarId)="getNewPoke($event)"></app-form-pokedex>
